@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/



html, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif !important;
	color: #222;
}

.navbar{
	padding: .8rem;
}

.navbar-nav li {
	padding-right: 30px;
}

.navbar a:hover {
	color: #00ff83 !important;
}

.nav-link {
	font-size: 1.1em !important;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #00ff83;
  height: 1px;
  transition: all .5s;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption h1 {
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
	font-size: 200%
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 1rem;
}

.carousel-caption .btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #5ac441 !important;
    border: 1px solid #40892f !important;
}

.carousel-caption .btn-primary:hover {
	background-color: #2de200 !important;
	border: 1px solid #40892f !important;
}

.padding {
	padding-bottom: 2rem;
}

.welcome {
	width: 75% !important;
	margin: 0 auto !important;
}

.welcome hr {
	border-top: 2px solid #b4b4b4;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}

.social a {
	font-size: 4.5em;
	padding: 3rem;
}

.fa-facebook {
	color: #3b5998;
}

.fa-twitter {
	color: #00aced;
}

.fa-instagram {
	color: #517fa8;
}

.fa-youtube {
	color: #bb0000;
}

.fa-linkedin-in {
	color: #007bb5;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.fa-linkedin-in:hover {
	color: #212529;
}

footer {
	background-color: #3f3f3f;
	color: #d5d5d5;
}

footer a {
	text-decoration: none;
	color: #00ff83;

}

footer a:hover {
	text-decoration: none;
	color: #00ff83;
}

footer .row {
	margin: 0px;
}

hr.light {
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .9rem;
	margin-bottom: 1rem;
}

hr.light-100 {
	border-top: 1px solid #d5d5d5;
	width: 100%;

}
body {
	background-color: #e0e0e0;
	padding: 0px;
	margin: 0px;
}

.header-line {
	height: 3px;
	background-color: #00ff83;
}

.navbar.navbar-expand-lg{
	background-color: #333333 !important;
}

.navigation-main {
	background-color: #333333;
	height: 50px;
}

.navigation-main .navbar-brand img {
	height: 60px !important;
}


.container-fluid {
	padding: 0px !important;
}

/*---Media Queries --*/
@media (max-width: 992px) {
.social a{
		font-size: 4em;
		padding: 2rem;
	}
  }

@media (max-width: 768px) {
.carousel-caption  {
	top: 37%;
	transform: translateY(-50%);
}

.carousel-caption h1 {
	font-size: 350%;
}

.carousel-caption h3 {
	font-size: 140%
	font-weight: 400;
	padding-bottom: 0.2rem;
}
.carousel-caption .btn {
	font-size: 95%;
	padding: 8px 14px;
}
.display-4 {
	font-size: 200%;
}
}

@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

.img-fluid.img {

	width: 100% ;
}

.imgo{
	position: relative !important;
}

.boxo{
	position: absolute !important;
}