@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif !important;
	color: #222;
}


.navbar{
	padding: .8rem;
}

.navbar-nav li {
	padding-right: 30px;
}

.navbar a:hover {
	color: #00ff83 !important;
}

.nav-link {
	font-size: 1.1em !important;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #00ff83;
  height: 1px;
  transition: all .5s;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel-caption {
	position: absolute;
	transform: translateY(-50%);
}

.carousel-caption h1 {
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
	font-size: 200%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 1rem;
}

.carousel-caption .btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #5ac441 !important;
    border: 1px solid #40892f !important;
}

.carousel-caption .btn-primary:hover {
	background-color: #2de200 !important;
	border: 1px solid #40892f !important;
}

.padding {
	padding-bottom: 2rem;
}

.welcome {
	width: 75% !important;
	margin: 0 auto !important;
}

.welcome hr {
	border-top: 2px solid #b4b4b4;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}

.social a {
	font-size: 4.5em;
	padding: 3rem;
}

.fa-facebook {
	color: #3b5998;
}

.fa-twitter {
	color: #00aced;
}

.fa-instagram {
	color: #517fa8;
}

.fa-youtube {
	color: #bb0000;
}

.fa-linkedin-in {
	color: #007bb5;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.fa-linkedin-in:hover {
	color: #212529;
}

footer {
	background-color: rgb(0, 0, 0, .7);
	color: #d5d5d5;
  bottom: 1;
	width: 100%;
}

footer a {
	text-decoration: none;
	color: #00ff83;

}

footer a:hover {
	text-decoration: none;
	color: #00ff83;
}

footer .row {
	margin: 0px;
}

hr.light {
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .9rem;
	margin-bottom: 1rem;
}

hr.light-100 {
	border-top: 1px solid #d5d5d5;
	width: 100%;

}
body {
	background-color: #e0e0e0;
	padding: 0px;
	margin: 0px;
}

.header-line {
	height: 3px;
	background-color: #00ff83;
}

.navbar.navbar-expand-md {
	background:transparent;
}

.navigation-main {
	background: rgba(0, 0, 0, 0) !important;
	background:transparent;
	height: 86px;
}

.navbar-brand img {
	height: 60px !important;
}


#contid1 {
	padding: 0px !important;
}

#contid2 {
	padding: 0px !important;
}



/*---Media Queries --*/
@media (min-width: 992px) {
.login{
  padding: 40px;
	background: #191919 !important;
	border: 2px solid #2ecc71 !important;
	text-align: center;
	width: 500px !important;
}

.login input[type = "text"],.login input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.login input[type = "text"]:focus,.login input[type = "password"]:focus{
	width: 280px;
	border-color: #2ecc71;
}
	
.login input[type = "submit"]{
  border:0;
  background: none !important;
	display: block;
	margin: auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
	color: white !important;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
}

@media (max-width: 992px) {
.social a{
		font-size: 4em;
		padding: 2rem;
	}
  }

@media (max-width: 768px) {
.carousel-caption  {
	top: 37%;
	transform: translateY(-50%);
}

.carousel-caption h1 {
	font-size: 350%;
}

.carousel-caption h3 {
	font-size: 140%;
	font-weight: 400;
	padding-bottom: 0.2rem;
}
.carousel-caption .btn {
	font-size: 95%;
	padding: 8px 14px;
}
.display-4 {
	font-size: 200%;
}
}

@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}


.imgo{
	position: relative !important;
}

.boxo{
	position: absolute !important;
}

/* SIGN IN */
/* SIGN IN */

.container{
	height: 100%;
	align-content: center !important;
}

.card {
	background-color: transparent !important;
}

.login {
	padding: 40px;
	margin-top: 20rem;
	background: #191919 !important;
	border: 2px solid #2ecc71 !important;
  text-align: center;
  
  opacity: 0;
  animation: fadeIn .8s ease forwards;
}

.login > * {
  opacity: 0;
  animation: fadeIn .4s ease .8s forwards;
}

.login input[type = "text"],.login input[type = "password"]{
  border:0;
	background: none !important;
  display: block;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  outline: none;
  color: white !important;
  border-radius: 24px;
	transition: 0.25s;
}
.login input[type = "text"]:focus,.login input[type = "password"]:focus{
	border-color: #2ecc71;
}
	
.login input[type = "submit"]{
  border:0;
  background: none !important;
  display: block;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white !important;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.login input[type = "submit"]:hover{
  background: #2ecc71 !important;
}
.login h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.login a{
	color: #fff;
}

.login a:hover{
	color: #2ecc71;
}
.login p {
 color: #3498db;
}

.galax {
	padding: 0px;
	margin: 0px;
	background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
}